## 1. Preparar o ambiente
    instalar e importar bibs - 
        !pip install pandas matplotlib seaborn
                        pd      plt     sns
## 2. Carregar os dados

In [ ]:
#!pip install pandas matplotlib seaborn

In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

Matplotlib is building the font cache; this may take a moment.

In [8]:
pd.__version__

'1.5.3'

## 2. Carregar os dados

In [10]:
df = pd.read_csv("./survey/survey.csv")

In [11]:
df.sample()

,user_id,language,platform,gender,age,q1,q2,q3,q4,q5,...,q17,q18,q19,q20,q21,q22,q23,q24,q25,q26
16,10e9b324-156e-4eb5-aec5-04d8a4d7124c,en,NaN,male,46.0,4.0,4.0,4.0,4.0,4.0,...,2.0,3.0,1.0,1.0,3.0,1.0,4.0,4.0,1.0,1.0

In [12]:
df.shape

(80, 31)

In [13]:
df.tail()

,user_id,language,platform,gender,age,q1,q2,q3,q4,q5,...,q17,q18,q19,q20,q21,q22,q23,q24,q25,q26
75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN